h2.subtitulo {
  font-size: 24px;
  font-size: 1.5rem;
  margin: 16px 0px 32px;
  margin: 1rem 0rem 2rem;
  font-weight: normal;
  color: #a0a8af; }

.subtitulo {
  margin-bottom: 32px;
  margin-bottom: 2rem; }

.img-responsive {
  width: 100% \9; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 990px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1200px; } }


/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: white url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "Glyphicons Halflings";
    font-size: 30px;
    line-height: 1;
    color: #cdcfd1;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -10px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -10px; }
  .slick-prev:before {
    content: "\e079"; }
    [dir="rtl"] .slick-prev:before {
      content: "\e080"; }

.slick-next {
  right: -10px; }
  [dir="rtl"] .slick-next {
    left: -10px;
    right: auto; }
  .slick-next:before {
    content: "\e080"; }
    [dir="rtl"] .slick-next:before {
      content: "\e079"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: ".";
        width: 20px;
        height: 20px;
        font-family: "Glyphicons Halflings";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.carrossel-professores {
  padding-top: 32px;
  padding-top: 2rem; }
  .carrossel-professores .professores-fotos {
    height: 120px; }
  .carrossel-professores .professores-foto {
    outline: none; }
    .carrossel-professores .professores-foto img {
      transition: all 400ms ease;
      height: 80px;
      width: 80px;
      margin: 20px 20px;
      opacity: 0.5;
      cursor: pointer; }
      .carrossel-professores .professores-foto img:focus {
        outline: none; }
    .carrossel-professores .professores-foto.slick-center img {
      height: 120px;
      width: 120px;
      margin: 0;
      opacity: 1;
      cursor: default; }
  .carrossel-professores .professores-texto {
    margin: 0px 48px;
    margin: 0rem 3rem;
    outline: none;
    text-align: center; }
  .carrossel-professores .professores-texto-trecho {
    padding-bottom: 16px;
    padding-bottom: 1rem;
    font-size: 19.2px;
    font-size: 1.2rem;
    position: relative;
    max-width: 600px;
    margin: 0 auto; }
    .carrossel-professores .professores-texto-trecho:before, .carrossel-professores .professores-texto-trecho:after {
      content: "";
      position: absolute;
      top: 0;
      height: 32px;
      width: 32px; }
    .carrossel-professores .professores-texto-trecho:before {
      left: -40px;
      background: url("img/aspas-before.png") no-repeat 0 0; }
    .carrossel-professores .professores-texto-trecho:after {
      right: -40px;
      background: url("img/aspas-after.png") no-repeat 0 0; }
  .carrossel-professores .professor-texto-nome {
    font-size: 14.4px;
    font-size: 0.9rem;
    color: #65666f; }
  .carrossel-professores .professor-texto-link a {
    font-size: 14.4px;
    font-size: 0.9rem;
    text-decoration: none; }